.map {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    margin-top: 0;
}

.map-overlay-search {
    position: relative;
    font: 14px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    background: rgba(255, 255, 255, 0.8);
    top: 0;
    left: 0;
    width: 260px;
    margin: 10px 0 0 10px;
    padding: 10px;
    /*around elements inside of overlay*/
    overflow: visible;
}

.geocoder {
    position: relative;
    margin: 10px 0 10px;
}

#returnbutton {
    position: relative;
    margin: 10px 0 10px;
    width: 100%;
}

.legend {
    position: absolute;
    background-color: #fff;
    border-radius: 3px;
    bottom: 0;
    margin-bottom: 30px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); /* hotizontal, vertical, size, color*/
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    padding: 10px;
    right: 10px;
    z-index: 1;
}

.legend h4 {
    margin: 0 0 10px;
}

/*styling of the rows of the legend*/
.legend div span {
    display: inline-block;
    border-radius: 0%; /*0% to make it a square*/
    height: 10px; /*size of square*/
    width: 10px;
    margin-right: 5px; /*position of square*/
}
